
<nav>
  <a routerLink="landing">Landing</a><br>
  <a routerLink="microservice1">Microservice1</a><br>
  <a routerLink="microservice1/products">&ensp;Products</a><br>
  <a routerLink="microservice3">Microservice3</a><br>
  <a routerLink="microservice3/orders">&ensp;Orders</a><br>
  <a routerLink="microservice3/users">&ensp;Users</a><br>
  <a routerLink="microservice3/products">&ensp;Products</a><br>
  <a routerLink="composite">Composite</a><br>
  <a routerLink="composite/create_product">&ensp;Add Product</a><br>
</nav>

<router-outlet></router-outlet>
<footer></footer>


